<h2 class="text-center"><em>Post details:</em></h2>
<br/>
<p>
	<br/>
	<%= @the_post.content %>
	<br/>
	<span style="font-size: 80%; color: #555">Added at <%= @the_post.created_at %></span>
</p>
<br/>
