<h2><em>Type your post</em></h2>
<br/>
<p>
	<form action='/new' method='POST'>
		<textarea name="post[content]" class="form-control" rows="6" placeholder="Type post text here" style="width: 800px" value="<%= @p.content %>"></textarea>
	<br/>
		<div class="form-inline">
		  <div class="form-group">
		  	<label for="exampleInputName2">Name</label>
		    <input name="post[username]" type="text" class="form-control" id="exampleInputName2" placeholder="Your name" value="<%= @p.username %>">
		  </div>
		  <div class="form-group">
		  <button type="submit" class="btn btn-primary">Send post</button>
		</div>
	</form>
</p>